@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "User" }, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }
    <a class="dropdown-item fw-500 pt-3 pb-3" href="javascript:document.getElementById('logoutForm').submit()">
        <span data-i18n="drpdwn.page-logout">
            @Resources.language.manage_user_logoff
        </span>
        <span class="float-right fw-n">@User.Identity.GetUserName()</span>
    </a>
}