<div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
    <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto" style="font-size:larger;">
        <!-- Intro -->
        <li class="nav-item  g-mx-10--lg g-mx-15--xl">
            <a href="/" class="nav-link g-py-7 g-px-0">Home</a>
        </li>
        <!-- End Intro -->
        <!-- Pages -->
        <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
            <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-pages">Pages</a>

            <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                <!-- Pages - About -->
                <li class="dropdown-item hs-has-sub-menu ">
                    <a id="nav-link--pages--about" class="nav-link" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--about">About</a>

                    <!-- Submenu (level 2) -->
                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--about" aria-labelledby="nav-link--pages--about">
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">About 1</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">About 2</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">About 3</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">About 4</a>
                        </li>

                        <li class="dropdown-divider"></li>

                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">About me 1</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">About me 2</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">About me 3</a>
                        </li>
                    </ul>
                    <!-- End Submenu (level 2) -->
                </li>
                <!-- End Pages - About -->

                <!-- Pages - Сontacts -->
                <li class="dropdown-item hs-has-sub-menu ">
                    <a id="nav-link--pages--contacts" class="nav-link" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--pages--contacts">Сontacts</a>

                    <!-- Submenu (level 2) -->
                    <ul class="hs-sub-menu list-unstyled u-shadow-v11 u-dropdown-col-2 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2" id="nav-submenu--pages--contacts" aria-labelledby="nav-link--pages--contacts">
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">Сontacts 1</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">Сontacts 2</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">Сontacts 3</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">Сontacts 4</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">Сontacts 5</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">Сontacts 6</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">Сontacts 7</a>
                        </li>
                        <li class="dropdown-item ">
                            <a class="nav-link" href="/">Сontacts 8</a>
                        </li>
                    </ul>
                    <!-- End Submenu (level 2) -->
                </li>
                <!-- End Pages - Сontacts -->
            </ul>
        </li>
        <!-- End Pages -->
    </ul>
</div>
