@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<div class="row" style="background-color:red;">
    <div class="col col-md-6" style="background-color:blue; height:10px;">
        
    </div>
</div>

