<aside class="page-sidebar list-filter-active">
    <div class="page-logo">
        <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
            <img src="~/Content/Manage/img/logo.png" alt="" aria-roledescription="logo">
            <span class="page-logo-text mr-1">@Resources.language.manage_title</span>
            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2">@Resources.language.manage_administrator_name</span>
            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
        </a>
    </div>
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <div class="nav-filter">
            <div class="position-relative">
                <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
            </div>
        </div>
        <ul id="js-nav-menu" class="nav-menu">
            <li class="">
                <a href="#" title="Application" data-filter-tags="application">
                    <i class="fal fa-info-circle"></i>
                    <span class="nav-link-text">@Resources.language.manage_general_title</span>
                </a>
                <ul>
                    <li class="">
                        <a href="" title="Introduction" data-filter-tags="application intel introduction">
                            <span class="nav-link-text">@Resources.language.manage_general_setting_title</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_privacy.html" title="Privacy" data-filter-tags="application intel privacy">
                            <span class="nav-link-text">Privacy</span>
                        </a>
                    </li>
                    <li>
                        <a href="intel_build_notes.html" title="Build Notes" data-filter-tags="application intel build notes">
                            <span class="nav-link-text">Build Notes</span>
                            <span class="">v4.0.1</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Theme Settings" data-filter-tags="theme settings">
                    <i class="fal fa-cog"></i>
                    <span class="nav-link-text" data-i18n="nav.theme_settings">Theme Settings</span>
                </a>
                <ul>
                    <li>
                        <a href="settings_how_it_works.html" title="How it works" data-filter-tags="theme settings how it works">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_how_it_works">How it works</span>
                        </a>
                    </li>
                    <li>
                        <a href="settings_layout_options.html" title="Layout Options" data-filter-tags="theme settings layout options">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_layout_options">Layout Options</span>
                        </a>
                    </li>
                    <li>
                        <a href="settings_skin_options.html" title="Skin Options" data-filter-tags="theme settings skin options">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_skin_options">Skin Options</span>
                        </a>
                    </li>
                    <li>
                        <a href="settings_saving_db.html" title="Saving to Database" data-filter-tags="theme settings saving to database">
                            <span class="nav-link-text" data-i18n="nav.theme_settings_saving_to_database">Saving to Database</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Package Info" data-filter-tags="package info">
                    <i class="fal fa-tag"></i>
                    <span class="nav-link-text" data-i18n="nav.package_info">Package Info</span>
                </a>
                <ul>
                    <li>
                        <a href="info_app_licensing.html" title="Product Licensing" data-filter-tags="package info product licensing">
                            <span class="nav-link-text" data-i18n="nav.package_info_product_licensing">Product Licensing</span>
                        </a>
                    </li>
                    <li>
                        <a href="info_app_flavors.html" title="Different Flavors" data-filter-tags="package info different flavors">
                            <span class="nav-link-text" data-i18n="nav.package_info_different_flavors">Different Flavors</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-title">Tools & Components</li>
            <li>
                <a href="#" title="UI Components" data-filter-tags="ui components">
                    <i class="fal fa-window"></i>
                    <span class="nav-link-text" data-i18n="nav.ui_components">UI Components</span>
                </a>
                <ul>
                    <li>
                        <a href="ui_alerts.html" title="Alerts" data-filter-tags="ui components alerts">
                            <span class="nav-link-text" data-i18n="nav.ui_components_alerts">Alerts</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_accordion.html" title="Accordions" data-filter-tags="ui components accordions">
                            <span class="nav-link-text" data-i18n="nav.ui_components_accordions">Accordions</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_badges.html" title="Badges" data-filter-tags="ui components badges">
                            <span class="nav-link-text" data-i18n="nav.ui_components_badges">Badges</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_breadcrumbs.html" title="Breadcrumbs" data-filter-tags="ui components breadcrumbs">
                            <span class="nav-link-text" data-i18n="nav.ui_components_breadcrumbs">Breadcrumbs</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_buttons.html" title="Buttons" data-filter-tags="ui components buttons">
                            <span class="nav-link-text" data-i18n="nav.ui_components_buttons">Buttons</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_button_group.html" title="Button Group" data-filter-tags="ui components button group">
                            <span class="nav-link-text" data-i18n="nav.ui_components_button_group">Button Group</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_cards.html" title="Cards" data-filter-tags="ui components cards">
                            <span class="nav-link-text" data-i18n="nav.ui_components_cards">Cards</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_carousel.html" title="Carousel" data-filter-tags="ui components carousel">
                            <span class="nav-link-text" data-i18n="nav.ui_components_carousel">Carousel</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_collapse.html" title="Collapse" data-filter-tags="ui components collapse">
                            <span class="nav-link-text" data-i18n="nav.ui_components_collapse">Collapse</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_dropdowns.html" title="Dropdowns" data-filter-tags="ui components dropdowns">
                            <span class="nav-link-text" data-i18n="nav.ui_components_dropdowns">Dropdowns</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_list_filter.html" title="List Filter" data-filter-tags="ui components list filter">
                            <span class="nav-link-text" data-i18n="nav.ui_components_list_filter">List Filter</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_modal.html" title="Modal" data-filter-tags="ui components modal">
                            <span class="nav-link-text" data-i18n="nav.ui_components_modal">Modal</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_navbars.html" title="Navbars" data-filter-tags="ui components navbars">
                            <span class="nav-link-text" data-i18n="nav.ui_components_navbars">Navbars</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_panels.html" title="Panels" data-filter-tags="ui components panels">
                            <span class="nav-link-text" data-i18n="nav.ui_components_panels">Panels</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_pagination.html" title="Pagination" data-filter-tags="ui components pagination">
                            <span class="nav-link-text" data-i18n="nav.ui_components_pagination">Pagination</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_popovers.html" title="Popovers" data-filter-tags="ui components popovers">
                            <span class="nav-link-text" data-i18n="nav.ui_components_popovers">Popovers</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_progress_bars.html" title="Progress Bars" data-filter-tags="ui components progress bars">
                            <span class="nav-link-text" data-i18n="nav.ui_components_progress_bars">Progress Bars</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_scrollspy.html" title="ScrollSpy" data-filter-tags="ui components scrollspy">
                            <span class="nav-link-text" data-i18n="nav.ui_components_scrollspy">ScrollSpy</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_side_panel.html" title="Side Panel" data-filter-tags="ui components side panel">
                            <span class="nav-link-text" data-i18n="nav.ui_components_side_panel">Side Panel</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_spinners.html" title="Spinners" data-filter-tags="ui components spinners">
                            <span class="nav-link-text" data-i18n="nav.ui_components_spinners">Spinners</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_tabs_pills.html" title="Tabs & Pills" data-filter-tags="ui components tabs & pills">
                            <span class="nav-link-text" data-i18n="nav.ui_components_tabs_&_pills">Tabs & Pills</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_toasts.html" title="Toasts" data-filter-tags="ui components toasts">
                            <span class="nav-link-text" data-i18n="nav.ui_components_toasts">Toasts</span>
                        </a>
                    </li>
                    <li>
                        <a href="ui_tooltips.html" title="Tooltips" data-filter-tags="ui components tooltips">
                            <span class="nav-link-text" data-i18n="nav.ui_components_tooltips">Tooltips</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Utilities" data-filter-tags="utilities">
                    <i class="fal fa-bolt"></i>
                    <span class="nav-link-text" data-i18n="nav.utilities">Utilities</span>
                </a>
                <ul>
                    <li>
                        <a href="utilities_borders.html" title="Borders" data-filter-tags="utilities borders">
                            <span class="nav-link-text" data-i18n="nav.utilities_borders">Borders</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_clearfix.html" title="Clearfix" data-filter-tags="utilities clearfix">
                            <span class="nav-link-text" data-i18n="nav.utilities_clearfix">Clearfix</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_color_pallet.html" title="Color Pallet" data-filter-tags="utilities color pallet">
                            <span class="nav-link-text" data-i18n="nav.utilities_color_pallet">Color Pallet</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_display_property.html" title="Display Property" data-filter-tags="utilities display property">
                            <span class="nav-link-text" data-i18n="nav.utilities_display_property">Display Property</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_fonts.html" title="Fonts" data-filter-tags="utilities fonts">
                            <span class="nav-link-text" data-i18n="nav.utilities_fonts">Fonts</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_flexbox.html" title="Flexbox" data-filter-tags="utilities flexbox">
                            <span class="nav-link-text" data-i18n="nav.utilities_flexbox">Flexbox</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_helpers.html" title="Helpers" data-filter-tags="utilities helpers">
                            <span class="nav-link-text" data-i18n="nav.utilities_helpers">Helpers</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_position.html" title="Position" data-filter-tags="utilities position">
                            <span class="nav-link-text" data-i18n="nav.utilities_position">Position</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_responsive_grid.html" title="Responsive Grid" data-filter-tags="utilities responsive grid">
                            <span class="nav-link-text" data-i18n="nav.utilities_responsive_grid">Responsive Grid</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_sizing.html" title="Sizing" data-filter-tags="utilities sizing">
                            <span class="nav-link-text" data-i18n="nav.utilities_sizing">Sizing</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_spacing.html" title="Spacing" data-filter-tags="utilities spacing">
                            <span class="nav-link-text" data-i18n="nav.utilities_spacing">Spacing</span>
                        </a>
                    </li>
                    <li>
                        <a href="utilities_typography.html" title="Typography" data-filter-tags="utilities typography fonts headings bold lead colors sizes link text states list styles truncate alignment">
                            <span class="nav-link-text" data-i18n="nav.utilities_typography">Typography</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" title="Menu child" data-filter-tags="utilities menu child">
                            <span class="nav-link-text" data-i18n="nav.utilities_menu_child">Menu child</span>
                        </a>
                        <ul>
                            <li>
                                <a href="javascript:void(0);" title="Sublevel Item" data-filter-tags="utilities menu child sublevel item">
                                    <span class="nav-link-text" data-i18n="nav.utilities_menu_child_sublevel_item">Sublevel Item</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Another Item" data-filter-tags="utilities menu child another item">
                                    <span class="nav-link-text" data-i18n="nav.utilities_menu_child_another_item">Another Item</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="disabled">
                        <a href="javascript:void(0);" title="Disabled item" data-filter-tags="utilities disabled item">
                            <span class="nav-link-text" data-i18n="nav.utilities_disabled_item">Disabled item</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="filter-message js-filter-message bg-success-600"></div>
    </nav>
    <!-- END PRIMARY NAVIGATION -->
    <!-- NAV FOOTER -->
    <div class="nav-footer shadow-top">
        <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
            <i class="ni ni-chevron-right"></i>
            <i class="ni ni-chevron-right"></i>
        </a>
        <ul class="list-table m-auto nav-footer-buttons">
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Chat logs">
                    <i class="fal fa-comments"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Support Chat">
                    <i class="fal fa-life-ring"></i>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Make a call">
                    <i class="fal fa-phone"></i>
                </a>
            </li>
        </ul>
    </div> <!-- END NAV FOOTER -->
</aside>